<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Student Details</title>
    </head>
<body>
	<h1>Student details</h1>
	 <table border="solid" style="font-size: x-large;">
		<tr>
			<thead>
		<th>Id</th>
		<th>F_Name</th>
		<th>L_Name</th>
		<th>Email</th>
		     </thead>
		</tr>
<tbody>
		 <td th:text="${s.id}"></td>
		  <td th:text="${s.firstName}"></td>
		   <td th:text="${s.lastName}"></td>
		    <td th:text="${s.email}"></td>
	</tr>
</tbody>
	

</body>
</html>